openapi: 3.1.0
info:
  contact:
    email: api-support@treasuryspring.com
    name: API Support
    url: https://treasuryspring.com/
  description: TreasurySpring's Public API provides access to an authorised user's data, including holdings, entities, cells, obligor exposures, subscriptions, tasks, and more.
  summary: '**REST API for integration with TreasurySpring**'
  title: TreasurySpring Public Calendar Obligor Exposure API
  version: v0.7.3
  x-logo:
    altText: TreasurySpring logo
    url: /assets/TS_Logo.png
servers:
- description: Production Server
  url: https://api.treasuryspring.com/api/v1
- description: Sandbox Server
  url: https://api.sandbox.treasuryspring.com/api/v1
tags:
- description: Get information about Obligors
  name: Obligor Exposure
paths:
  /obligor-exposure/{code}:
    get:
      description: Retrieves data for a single Obligor.
      operationId: get.obligor_exposure
      parameters:
      - description: Obligor code
        in: path
        name: code
        required: true
        schema:
          description: Obligor code
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObligorExposure'
          description: Retrieves obligor exposure information.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Get data for obligor exposure by code
      tags:
      - Obligor Exposure
      x-codeSamples:
      - label: Curl
        lang: Curl
        source: "\ncurl -X GET 'https://api.treasuryspring.com/api/v1/obligor-exposure/BACR\\[GC\\]' \\\n    -H 'accept: application/json' \\\n    -H 'Authorization: Bearer 215ced3397d7049289b0bf6ce72dbbfcf'\n"
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
        msg:
          type: string
        type:
          type: string
      required:
      - loc
      - msg
      - type
      type: object
    ObligorExposure:
      description: Obligor Exposure schema.
      properties:
        assetDescription:
          description: Underlying Asset Description
          type:
          - string
          - 'null'
        code:
          description: Obligor Exposure Code
          examples:
          - BACR[GC]
          type: string
        creditUrl:
          description: Obligor Credit Rating URL
          type:
          - string
          - 'null'
        description:
          description: Obligor Description
          examples:
          - Barclays Bank Plc provides banking and financial services as part of the Barclays plc group.
          type:
          - string
          - 'null'
        lei:
          description: Legal Entity Identifier for the Obligor
          examples:
          - 529900T8BM49AURSDO55
          type:
          - string
          - 'null'
        name:
          description: Obligor Exposure Name
          examples:
          - Barclays Bank Plc [Gov secured]
          type: string
        obligorCode:
          description: Obligor Code
          examples:
          - BACR
          type: string
        sector:
          description: Obligor Exposure Sector
          examples:
          - Secured Financial
          type:
          - string
          - 'null'
        url:
          description: Obligor URL
          examples:
          - https://home.barclays/
          type:
          - string
          - 'null'
      required:
      - code
      - name
      - obligorCode
      type: object
      x-tags:
      - Obligor Exposure
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
      type: object
  securitySchemes:
    basicAuth:
      description: 'Base64-encoded `client_id:client_secret` (sent as `Authorization: Basic <base64>`). Used by the OAuth token-exchange endpoint.'
      scheme: basic
      type: http
    bearerAuth:
      description: 'API Key or OAuth access token (sent as `Authorization: Bearer <token>`).'
      scheme: bearer
      type: http
x-tagGroups:
- name: Guides
  tags:
  - Introduction
  - FTF Lifecycle
- name: Endpoints
  tags:
  - OAuth
  - Holdings
  - Indications
  - Entities
  - Cells
  - Obligor Exposure
  - Subscriptions
  - Tasks
  - Calendar
  - Events
  - Event Checkpoints
  - Webhooks
  - Healthcheck
- name: Models
  tags:
  - Holding_model
  - Indication_model
  - Cell_model
  - Obligor_model
  - Subscription_model
  - Task_model
  - Entity_model
  - User_permissions_model
  - Holiday_model
  - PageInfo_model
  - Checkpoint_model
- name: Event Models
  tags:
  - Event_model
  - SubscribedEvent_model
  - IssuedEvent_model
  - SplitEvent_model
  - ExtendedEvent_model
  - FinalizedEvent_model
  - AdjustedEvent_model
  - CurrencyConvertedEvent_model
  - CashMovedEvent_model
  - RedeemedEvent_model
  - CancelledEvent_model
- name: MCP
  tags:
  - MCP
