openapi: 3.1.0
info:
  contact:
    email: api-support@treasuryspring.com
    name: API Support
    url: https://treasuryspring.com/
  description: TreasurySpring's Public API provides access to an authorised user's data, including holdings, entities, cells, obligor exposures, subscriptions, tasks, and more.
  summary: '**REST API for integration with TreasurySpring**'
  title: TreasurySpring Public Calendar Cells API
  version: v0.7.3
  x-logo:
    altText: TreasurySpring logo
    url: /assets/TS_Logo.png
servers:
- description: Production Server
  url: https://api.treasuryspring.com/api/v1
- description: Sandbox Server
  url: https://api.sandbox.treasuryspring.com/api/v1
tags:
- description: Get information about Cells
  name: Cells
paths:
  /cell/{code}:
    get:
      description: Retrieves data for a single Cell.
      operationId: get.cell
      parameters:
      - description: Cell code
        in: path
        name: code
        required: true
        schema:
          description: Cell code
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cell'
          description: Cell information
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Get a single cell by code
      tags:
      - Cells
      x-codeSamples:
      - label: Curl
        lang: Curl
        source: "\ncurl -X GET 'https://api.treasuryspring.com/api/v1/cell/Example-IC' \\\n    -H 'accept: application/json' \\\n    -H 'Authorization: Bearer 215ced3397d7049289b0bf6ce72dbbfcf'\n"
components:
  schemas:
    Cell:
      description: Cell schema.
      properties:
        allowedObligors:
          description: List of allowed obligors
          items:
            $ref: '#/components/schemas/allowedObligorExposures'
          type: array
        code:
          description: Cell Code
          examples:
          - Example-IC
          type: string
        documents:
          description: Cell Documents
          items:
            $ref: '#/components/schemas/CellDocuments'
          type: array
        name:
          description: Cell Name
          examples:
          - TreasurySpring Example FTF IC
          type: string
      required:
      - code
      - name
      - documents
      - allowedObligors
      type: object
      x-tags:
      - Cells
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
        msg:
          type: string
        type:
          type: string
      required:
      - loc
      - msg
      - type
      type: object
    allowedObligorExposures:
      description: allowedObligorExposures schema.
      properties:
        code:
          description: Obligor Code
          examples:
          - BACR
          type: string
        name:
          description: Obligor Name
          examples:
          - Barclays Bank Plc
          type: string
      required:
      - code
      - name
      type: object
      x-tags:
      - Indications
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
      type: object
    CellDocuments:
      description: CellDocuments schema.
      properties:
        name:
          description: Document Name
          examples:
          - Factsheet
          type: string
      required:
      - name
      type: object
      x-tags:
      - Cells
  securitySchemes:
    basicAuth:
      description: 'Base64-encoded `client_id:client_secret` (sent as `Authorization: Basic <base64>`). Used by the OAuth token-exchange endpoint.'
      scheme: basic
      type: http
    bearerAuth:
      description: 'API Key or OAuth access token (sent as `Authorization: Bearer <token>`).'
      scheme: bearer
      type: http
x-tagGroups:
- name: Guides
  tags:
  - Introduction
  - FTF Lifecycle
- name: Endpoints
  tags:
  - OAuth
  - Holdings
  - Indications
  - Entities
  - Cells
  - Obligor Exposure
  - Subscriptions
  - Tasks
  - Calendar
  - Events
  - Event Checkpoints
  - Webhooks
  - Healthcheck
- name: Models
  tags:
  - Holding_model
  - Indication_model
  - Cell_model
  - Obligor_model
  - Subscription_model
  - Task_model
  - Entity_model
  - User_permissions_model
  - Holiday_model
  - PageInfo_model
  - Checkpoint_model
- name: Event Models
  tags:
  - Event_model
  - SubscribedEvent_model
  - IssuedEvent_model
  - SplitEvent_model
  - ExtendedEvent_model
  - FinalizedEvent_model
  - AdjustedEvent_model
  - CurrencyConvertedEvent_model
  - CashMovedEvent_model
  - RedeemedEvent_model
  - CancelledEvent_model
- name: MCP
  tags:
  - MCP
